Teeramate-Resume.pdf
bot-test.pdf


venv/
.venv/
__pycache__/
*.pyc
.env
results.txt/
data/documents/
data/extracted/
data/results/
un-rdtii/data/documents/
un-rdtii/data/extracted/
un-rdtii/data/results/
